.container
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
}
#canva
{
    border: 2px solid;
}
#downloadButton
{
    border: 2px solid blue;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
}
.controls
{
    margin-top: 10px;
}